#root {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url(../src/assets/background.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
}

/* @media (max-width: 600px) {
  .model-container {
    max-height: 20%;
    max-width: 90%;
  }
} */
