.homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  /* height: 10%; */
  height: 5%;
  padding: 40px;
}

.search-container input {
  text-align: center;
  background-color: transparent;
  border-radius: 35px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.search-border {
  border: solid;
  border-radius: 30px;
}

.vinyl-container {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.lyrics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  overflow: hidden;
}
#search {
  padding: 40px;
}

#lyrics {
  width: 70%;
  font-size: 30px;
}

.lyrics-match {
  color: white;
}

.lyrics-nonmatch {
  color: red;
}

.words {
  padding: 10%;
}

@media (max-width: 600px) {
  #lyrics {
    font-size: 20px;
    width: 100%;
  }
}

.results-container {
  display: flex;
  justify-content: space-around;
}
